
<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>CROUDS</title>
    {% endif %}

    <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/materialize.min.css') }}" rel="stylesheet">
    
  </head>
  <body>
    <!-- <div>CROUDS: <a href="/index">Home</a></div> -->
    <div class="row center">
      <p style="margin:2px">Allegheny County Police Department</p>
      <h5 style="margin:1px"><a href="/index" style="color:black">CROUDS</a></h5>
      <!-- <h6>Get real-time information on pedestrian and cyclist traffic or parks utilization by asking crowds on Twitter</h6> -->
      <!-- <li><a href="/question">SEND NEW QUESTION</a> -->
      <!-- <li><a href="/responses">VIEW RESPONSES</a> -->
      <!-- <hr> -->
    </div>
    <div class="container">
    {% block content %}{% endblock %}
    </div>
    <div class="footer">
      <p style="color: grey;font-size: .7em;font-weight:100;padding-top: 30px; margin-bottom: 0px; text-align:center">© Carnegie Mellon University CHIMPS Lab</p>
    </div>
  </body>
</html>
