<html>
  <head>
    <title>CROUDS</title>
    <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/materialize.min.css') }}" rel="stylesheet">
	<!-- get google fonts -->

  </head>

  <body>
  <div class="row center">
    <!-- <div>CROUDS: <a href="/index">Home</a></div> -->
    <br/>
    <br/>
    <h5>Allegheny County Police Department</h5>
    <h1><a href="/index" style="color:black">CROUDS</a></h1>
    <h6>Get real-time information on pedestrian and cyclist traffic or parks utilization by asking crowds on Twitter</h6>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div><a class="waves-effect waves-light btn" style="length=20px" href="/question">SEND NEW QUESTION</a></div>
    <br/>
    <div><a class="waves-effect waves-light btn" href="/responses">View Responses</a></div>
    <br/>
    <div><a class="waves-effect waves-light btn" href="/recent_tweeters">View Recent Tweeters in an Area</a></div>
    <!-- <li><a href="/question">SEND NEW QUESTION</a> -->
    <!-- <li><a href="/responses"> VIEW RESPONSES  </a> -->
    <!-- <hr> -->
  </div>
  <div class="footer">
  <p style="color: grey;font-size: .7em;font-weight:100;padding-top: 30px; margin-bottom: 0px; text-align:center">© Carnegie Mellon University CHIMPS Lab</p>
  </div>
  </body>
</html>
