{% extends "base.html" %}
{% block content %}
    <h3>Search Users</h3>
    <!-- <h5>View tweets made within 5 miles of the given venue.</h5> -->
    <div class="input-field col s12">
    <form action="{{ url_for('get_recent_tweeters') }}" method="POST">
    	<div>
    	<h4>By home</h4>
    	<!-- neighborhood / city name e.g. Shadyside, Oakland (bounding box)-->
        <label><h5>Neighborhood:</h5></label>
        <select class="browser-default" name="venue-name">
          <option value="Carnegie Mellon Cafe">Oakland</option>
          <option value="US Steel Tower">Squirell Hill</option>
          <option value="Point State Park">Shadyside</option>
        </select>
        </div>

        <div>

    	<h3>By last tweet location</h3>
        <label><h5>City:</h5></label>
        <br/>
        <!-- <input type="text" name="city" value="Pittsburgh"> -->

        <br/>
        <br/>
        <br/>

        <label><h5>Venue Name</h5></label>
        <select class="browser-default" name="venue-name">
          <option value="Carnegie Mellon Cafe">Carnegie Mellon Cafe</option>
          <option value="US Steel Tower">US Steel Tower</option>
          <option value="Point State Park">Point State Park</option>
        </select>

        <br/>
        <br/>

        <label><h5>Venue ID</h5></label>
        <br/>
        <input type="text" name="venue-id" value="d3eg94j2">


        <label><h5>Who tweeted in the last ... minutes:</h5></label>
        <select class="browser-default" name="venue-name">
          <option value="Carnegie Mellon Cafe">5</option>
          <option value="US Steel Tower">10</option>
          <option value="Point State Park">20</option>
          <option value="Point State Park">30</option>
          <option value="Point State Park">60</option>
          <option value="Point State Park">600</option>
          <option value="Point State Park">1000</option>
        </select>


        </div>
    <div class="input-field col s12">
        <div class="row center">
        	<img src="images/image1.png">
        	<br/>
            <button class="btn waves-effect waves-light" type="submit" name="action">Search</button>
        </div>
    </div>
    </form>

{% endblock %}

