{% extends "base.html" %}
{% block content %}
    <!-- <h1>Response page, for {{ user.nickname }}!</h1> -->
    <h3>Replies</h3>

    <h5>Open Questions</h5>
    {% for question in questions %}
      <div id="question" style="background-color:lightblue">
      <ul class="collection with-header">
          <li class="collection-header">
            <h5>{{ question.question_text }} </h5>
            <!-- <h6>{{ question.question_text }} </h6> -->
            <p>{{ question.time_since }}<p>
            <pre>Venue: {{ question.venue }}      City: {{ question.city }}      Created at: {{ question.created_at }} (UTC)       Question ID: {{ question.id }} </pre>
          </li>

          {% for response in question.responses %}
              <li class="collection-item"><b>{{ response.user_id }}</b>: {{ response.response_raw }} 
              <!-- <p class="tweet_description">Sent at {{ response.time_since }}</p> -->
              <p class="tweet_description">Sent at {{ response.created_at }}</p>
              </li>

          {% endfor %}
    {% endfor %}

    <h2>Closed Questions</h2>
    {% for question in closed_questions %}
      <div id="question" style="background-color:lightblue">
      <ul class="collection with-header">
          <li class="collection-header">
            <h5>{{ question.question_text }} </h5>
            <p>{{ question.time_since }}<p>
            <pre>Venue: {{ question.venue }}      City: {{ question.city }}      Created at: {{ question.created_at }} (UTC)       Question ID: {{ question.id }} </pre>
          </li>

          {% for response in question.responses %}
              <li class="collection-item"><b>{{ response.user_id }}</b>: {{ response.response_raw }} 
              <!-- <p class="tweet_description">Sent at {{ response.time_since }}</p> -->
              <p class="tweet_description">Sent at {{ response.created_at }}</p>
              </li>

          {% endfor %}
    {% endfor %}


{% endblock %}
