{% extends "base.html" %}
{% block content %}
    <h1>Entries page, for !</h1>
<!--     {% for post in posts %}
    <p>
      {{ post.author.nickname }} says: <b></b> -->
    <!-- </p> -->


<!--     <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  
 -->
    {% endfor %}
{% endblock %}